# Copia este archivo como .env y completa los valores

CLIENT_ID=1425170360189456547
CLIENT_SECRET=tu_client_secret_de_discord_aqui
REDIRECT_URI=https://comisaria-virtual-carabinero-chilenos-rp.onrender.com/auth/callback
SESSION_SECRET=genera_un_texto_aleatorio_largo_aqui
NODE_ENV=production
